/* Buscar ------------------------------------------------ gabriel*/
.buscar {
    display: inline-flex;
    align-items: center;
    background: #264A4A;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.buscar :is(input, button) {
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
}

.buscarinput {
    width: 0;
    transition: width 0.5s;
}

.buscarbtn {
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: color 0.25s;
}

.buscarbtn:hover {
    color: #e3e3e3;
}

.buscar:focus-within input {

    width: 100%;

}

.buscarinput::placeholder {
    font: inherit;
    color: #e3e3e3;
}

/* Sobre nosotros ---------------------------------------- gabriel */
.colorSobre {
    background-color: var(--color-terciario-claro);
}

#sobre {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding-bottom: 30px;
}

h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

strong {
    font-weight: bold;
}

article {
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.botones {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5pc;
    margin-left: 50px;
}

.botones:hover {
    background-color: #0056b3;
}


/* productos -----------------------------------------gabriel */
.contenedor-grid {
    background-color: var(--color-terciario-claro);

}

.izquierda h2 {
    text-align: start;
    padding-left: 40px;

}

.productos ul {
    display: flex;
    flex-wrap: wrap;
    border-radius: unset;
    gap: 20px;

}

li {
    list-style-type: none;

}

li a {
    text-decoration: none;
}

main {
    padding-top: 30px;
}

.contenedor-grid {
    display: grid;
    grid-template: auto / 30% 70%;
}

.card-container {
    text-align: center;
    width: 250px;
    margin: 10px 10px 10px 2px;

}

.card p,
h4 {
    text-align: center;

}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .4);
    overflow-y: auto;
}

.card img {
    max-width: 100%;
    width: auto;
    height: 190px;
    margin: 5px;
    padding: 15px 0 0 15px;
}


@media (max-width: 768px) {
    .contenedor-grid {
        grid-template: auto / 1fr;
    }

    .card-container {
        display: flex;
        flex-direction: row;

    }

    #contenedor_logo_nombre img {
        width: 200px;
        height: auto;
    }


}

@media (max-width: 450px) {
    .contenedor-grid {
        grid-template: auto;
        padding-left: 30px;
        align-items: center;
    }

    .izquierda h2 {
        text-align: center;
        padding-left: 0px;
    }

    #cart {
        align-items: center;
        padding-right: 35px;
    }

    .total-table {
        justify-content: center;
    }

    .content {
        justify-content: center;
    }

    .SumRes {
        justify-content: center;

    }
}

/* Carrito --------------------------------------------- gabriel */
.carrito {
    background-color: var(--color-terciario-claro);

}

#cart {
    width: 100%;

}

.cart-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 193px;
    mix-blend-mode: darken;
}

.cart-img img {
    max-width: 100%;
    max-height: 100%;
}

.product {
    box-shadow: 3px -4px 6px rgba(0, 0, 0, .4), 0 4px 6px rgba(8, 0, 0, 0.4);
    border: 1px solid #eee;
    margin: 40px;
    width: 95%;
    height: 195px;
}

.product article,
.product .content {
    float: left;
    font-weight: 600;
    font-size: larger;
}

.product article {
    margin: 0 1% 20px 0;
    overflow: hidden;
    position: relative;
    width: 24%;
    height: 195px;
}

.product article:hover h3 {
    bottom: 73px;
}

.product article h3 {
    text-align: center;
    background: #53b5aa;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
}

.remove {
    cursor: pointer;
}

.product .content {
    box-sizing: border-box;
    width: 75%;
    height: 50px;
    margin: 6px 0 0 0;
    padding: 0;
}

.product .total-precio {
    background: #53b5aa;
    color: #fff;
    float: left;
    font-size: 22px;

    line-height: 49px;
    padding: 0 10px;

}

.q {
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}

.q-mas,
.q-menos {
    font-size: 35px;
    font-weight: 300;
    margin: 0 10px 0 10px;
}

.q-mas:hover,
.q-menos:hover {
    background: #53b5aa;
    color: #fff;
    cursor: pointer;
}

.SumRes {
    justify-content: start;
    float: right;
}

.total-table {
    padding: 0 25px 20px;
    display: flex;
    justify-content: end;
    font-size: x-large;
    font-weight: 600;
}

#retiro {
    text-align: center;
    box-shadow: 3px -5px 10px rgba(0, 0, 0, 0.2);
    color: #FF0000;
}

#retiro a {
    text-decoration: none;
    color: #FF0000;
}

#retiro a:hover {
    background: var(--color-secundario);
    color: #fff;
    cursor: pointer;
}

/* formulario contacto -------------------------------gabriel*/
.colorCont {
    background-color: var(--color-terciario-claro);
}

#contacto h1 {
    text-align: center;
    padding-bottom: 10px;
}

.input-correcto {
    background-color: rgb(209, 242, 209);
}

.input-incorrecto {
    background-color: rgb(248, 208, 208);
}

#contacto {
    margin-top: 50px;
}

#contactForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-primario-claro);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#contactForm input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

.input-field {
    margin-bottom: 20px;
    position: relative;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.alert-success {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

#whatsapp {
    margin-top: 60px;
    text-align: center;
}

/* footer */
/*
footer {
    background-color: #002424;
    text-align: center;
}

footer p {
    font-size: large;
    color: #fff;
}

.footer>small {
    font-size: 16px;
    margin: 0 4px;
    color: #fff;
}

.footer-headline>h2 {
    margin: 0px;
    color: var(--text-primary);
}

.footer-headline>p {
    color: var(--text-gray);
    margin: 4px 0px 20px 0px;
}

.footer-line {
    display: block;
    min-width: 40px;
    height: 2px;
    background-color: var(--text-gray);
}
*/

/*
.social-links {
    flex-direction: column;
    display: flex;
    gap: 20px;
    align-items: center;
    border: 2px solid yellow;
}
*/
.social-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-links img:hover {
    transform: scale(1.25);
}

/* Estilos mtm */
* {
    --color-primario: #1D4645;
    --color-primario-claro: #808D8D;
    --color-primario-oscuro: #001A19;

    --color-secundario: #4E204B;
    --color-secundario-claro: #9E909D;
    --color-secundario-claro2: #785C76;
    --color-secundario-oscuro: #1D001B;

    --color-terciario: #736C30;
    --color-terciario-claro: #E8E6D3;
    --color-terciario-oscuro: #2A2500;

    font-family: 'Lato', 'Roboto', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    overflow-y: visible;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-primario-oscuro);
    width: 100vw;
    padding-bottom: 1vh;
    transition: transform 0.3s ease;
    /* Agrega una transición para suavizar el efecto */
    transform: translateY(0);
    /* Inicialmente, no desplazado */
}

header h1,
header a {
    color: var(--color-primario-claro);
}

.linea1_encabezado {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: 2 / 3;
    grid-template-rows: 70% 30%;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "vacio1 logo_y_nombre usuario"
        "menu_hamburguesa barra_busqueda carrito";
}

#contenedor_logo_nombre {
    grid-area: logo_y_nombre;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

#contenedor_logo_usuario {
    grid-area: usuario;
}

#contenedor_barra_busqueda {
    grid-area: barra_busqueda;
    display: flex;
    justify-content: center;
}

#barra_busqueda {
    width: 100%;
    max-width: 250px;
}

#contenedor_logo_menu {
    grid-area: menu_hamburguesa;
}

#contenedor_logo_carrito {
    grid-area: carrito;
}

#contenedor_logo_menu,
#contenedor_logo_carrito,
#contenedor_logo_usuario {
    display: flex;
    justify-content: center;

}

#contenedor_logo_menu i,
#contenedor_logo_carrito i,
#contenedor_logo_usuario i {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

#barra_navegacion {
    display: none;
}

#lista_menues {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-evenly;
    align-items: center;
    margin: 1vh 0 1vh 0;
    padding: 0px;
}

#lista_menues li {
    padding-bottom: 1vh;
}

nav a {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0px 10px;
    text-decoration: none;
}


nav a:hover {
    background-color: var(--color-secundario-claro);
    color: var(--color-secundario);
    border-radius: 10px 0px;
    transition: background-color 0.25s ease-out 0s;
}

#seccion_marcas {
    background-color: white;
}

#contenedor_marcas {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2vh;
    column-gap: 1vw;
}

.contenedor_imagen_marca {
    display: block;
    margin: auto;
}

.imagen_marca {
    width: 100%;
    max-width: 140px;
}


#seccion_suscripcion {
    padding: 2vh 0;
    background-color: var(--color-terciario);
}


#seccion_suscripcion p {
    text-align: center;
}

#seccion_suscripcion p,
#seccion_suscripcion label {
    color: var(--color-terciario-claro);
}

#formulario_suscripcion {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    justify-content: center;
    align-content: center;
    grid-template-areas: "vacio11 entrada_mail vacio12"
        "vacio21 term_y_cond vacio22"
        "vacio31 enviar vacio32";
    padding: 2vh 0;
}

#formulario_suscripcion fieldset {
    border: none;
    text-align: center;
}

.campo_valido {
    border: 5px solid blue;
}

.campo_invalido {
    border: 5px solid red;
}

#email_suscripcion {
    grid-area: entrada_mail;
    width: 75%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

#grupo_tyc_y_check {
    grid-area: term_y_cond;
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#grupo_tyc_y_check label {
    font-size: 0.85rem;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

#btn_enviar_form_susc {
    grid-area: enviar;
    margin: 10px auto 0px auto;
    width: 50%;
    max-width: 100px;
    padding: 2px;
    border-radius: 5px;
}

.contenedor_imagen_central {
    position: relative;
    width: 100vw;
}

.contenedor_imagen_central h3 {
    font-weight: 700;
}

.imagen_central {
    width: 100%;
    height: 100%;
}

.texto_imagen_central {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0%;
    margin: 0px;
    width: 100%;
    padding: 3% 0%;
}

#footer {
    background-color: var(--color-secundario-claro2);
    padding: 10px;
}

#contenedor-social-links {
    margin: 0;
}

#lista_redessociales {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "logo1 vacio1 logo2 vacio2 logo3"
        "vacio3 logo4 vacio5 logo5 vacio6";
    padding: 1vh;
}

#lista_redessociales li,
#lista_redessociales a {
    padding: 0;
    margin: auto;
}

#item_logo_ig {
    grid-area: logo1;
}

#item_logo_lin {
    grid-area: logo2;
}

#item_logo_tw {
    grid-area: logo3;
}

#item_logo_yt {
    grid-area: logo4;
}

#item_logo_git {
    grid-area: logo5;
}

#footer p {
    font-size: 0.875rem;
    color: white;
    text-align: center;
}

/* Animaciones */
#galeria_imagenes {
    display: flex;
    overflow: hidden;
    width: 400vw;
    animation: girarIzquierda 20s linear 3s 1 normal;
}


@keyframes girarIzquierda {
    20% {
        transform: translateX(-100vw);
    }

    25% {
        transform: translateX(-100vw);
    }

    45% {
        transform: translateX(-200vw);
    }

    50% {
        transform: translateX(-200vw);
    }

    70% {
        transform: translateX(-300vw);
    }

    75% {
        transform: translateX(-300vw);
    }
}


/* Sucursales ---------------------------------------- turco */
.colorSuc {
    background-color: var(--color-terciario-claro);
}

#seccion_sucursales>p {
    text-align: center;
    margin-bottom: 3vh;
}

#contenedor_seccion_sucursales {
    display: grid;
    margin: auto 1vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
    align-items: center;
    grid-template-areas: "datos_suc_ov datos_suc_tigre"
        "mapa_suc mapa_suc";
}

#datos_sucursal_ov {
    grid-area: datos_suc_ov;
}

#datos_sucursal_tigre {
    grid-area: datos_suc_tigre;
}

#mapa_sucursal_ov,
#mapa_sucursal_tigre {
    grid-area: mapa_suc;
}

.datos_sucursal {
    text-align: center;
    font-size: 0.875rem;
    height: 100%;
    max-width: 250px;
    margin-bottom: 1vh;
    padding-top: 1vh;
    background-color: var(--color-secundario-claro2);
    color: white;
    border: 2px solid white;
    border-radius: 10% 10% 0 0;
}

.datos_sucursal .fi-rr-marker {
    color: white;
    font-size: 2em;
}

.datos_sucursal a {
    display: block;
    padding: 2px;
}

.datos_sucursal a:hover {
    transform: scale(1.25);
}

.datos_sucursal p {
    margin: 1px;
}

.mapa_sucursal {
    height: 100%;
    width: 97.5%;
    margin: auto;
    border: 2px solid var(--color-secundario);
    border-top: 2px solid white;
}

.mapa_sucursal iframe {
    height: 100%;
    width: 100%;
}


/* Inicio Sesión ---------------------------------------- turco */
#cuerpo-inicioses {
    background-color: var(--color-terciario-claro);
}

#cuerpo-inicioses h1 {
    text-align: center;
    padding: 16px;
}

#cuerpo-inicioses h2 {
    text-align: center;
    padding: 8px;
}

#seccion-inicio-sesion {
    display: block;
    width: 100%;
}

#form-iniciar-sesion {
    margin: 0 8px;
    padding: 20px;
    background-color: var(--color-primario-claro);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#form-iniciar-sesion label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#form-iniciar-sesion input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}





/* Portal Administración ---------------------------------------- turco */
#cuerpo-portaladmin {
    background-color: var(--color-terciario-claro);
}

#titulo-portaladmin,
#titulo-iniciosesion {
    margin-top: 28px;
    text-align: center;
}

#menu-portaladmin {
    display: flex;
    text-align: center;
    justify-content: center;
}

#menu-portaladmin button {
    margin: 8px;
}

.formularios-proveedor {
    margin: 0 8px;
    padding: 20px;
    background-color: var(--color-primario-claro);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formularios-proveedor label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.formularios-proveedor input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.boton-modificar {
    background-color: #FF7B00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5pc;
}

.boton-eliminar {
    background-color: #FF0022;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5pc;
}

#cancelar-editar-proveedor {
    display: inline-block;
}

.boton-modificar,
.boton-eliminar {
    margin: 0px 4px;
}

#contenedor-modificar-eliminar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 4px 8px;
}

.tarjeta-proveedor {
    margin: 4px 8px;
    padding: 10px;
    /*background-color: var(--color-primario-claro); */
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-bottom: 2px solid var(--color-primario-claro);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarjeta-proveedor p {
    margin-bottom: 0.5rem;
}



/* -------------------------------gabriel--------------------- */
#inicio {
    text-align: center;
    border: solid 1px blue;
    border-radius: 10px;
    background-color: rgb(157, 157, 252);
}

#menu {
    display: flex;
    text-align: center;
    justify-content: center;
}


#ingreso {
    margin-top: 1px;
    border: solid blue;
    border-radius: 10px;

}

div h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ingreso div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}



/* input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
} */

.botones {
    border: solid blue;
    margin-top: 10px;
    align-items: center;
    border-radius: 10px;
}

.formularios-proveedor {
    margin: 0 8px;
    padding: 20px;
    background-color: var(--color-primario-claro);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 440px;
}

.formularios-proveedor label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
#productoForm select,
.formularios-proveedor input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/* listado completo */

.formularios-proveedor,
#productosTable,
#eliminarProductos {
    width: 100%;
    margin: 0 auto;
}

/* -------cards listar productos-------------- */
.info {
    flex-grow: 1;
    padding: 10px;
}

.info p {
    font-weight: bold;
}

.imgProducto {
    width:auto;
    height: 300px;
}
#productosBody,
#EliminarBody {
    display: flex;
    flex-wrap: wrap;
    border-radius: unset;
    gap: 10px;
}

/* Puntos de quiebre ---------------------------------------- turco */
/* Algunos puntos de quiebre intermedios: 300px */
@media (min-width: 300px) {
    #lista_redessociales {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 1vh;
    }
}

/* Media queries para distintos breakpoints: 450px, 900px y 1200px */
@media (min-width: 450px) {
    .linea1_encabezado {
        display: flex;
        align-items: center;
    }

    #contenedor_logo_nombre {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #contenedor_logo_nombre img {

        width: 200px;
        height: auto;
    }

    h1 {
        text-align: center;
    }

    #contenedor_logo_menu {
        display: none;
    }

    #contenedor_logo_carrito {
        padding: 8px;
    }

    #contenedor_logo_usuario {
        padding-left: 8px;
    }

    #barra_navegacion {
        display: block;
    }

    #lista_menues {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 8vh;
        margin: 1vh 0 0 0;
        padding: 0px;
    }

    #lista_menues li {
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        text-align: center;
        height: 100%;
        padding: 0px;

    }

    #contenedor_marcas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, fr);
        padding: 1vh;
        gap: 3vh 1vw;
    }

    .imagen_marca {
        min-width: 125px;
        max-width: 175px;
    }

    #lista_redessociales {
        max-width: 450px;
        margin: auto;
    }

    #seccion-buscar-proveedor,
    #seccion-agregar-proveedor,
    #seccion-editar-proveedor,
    #seccion-inicio-sesion {
        max-width: 440px;
        margin: 0 auto;
    }

    #contenedor-modificar-eliminar,
    .tarjeta-proveedor {
        max-width: 440px; /* !important; */
        margin: 8px auto;  /* !important; */
    }

}

/* Algunos puntos de quiebre intermedios: 500px */
@media (min-width: 500px) {
    #contenedor_seccion_sucursales {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 3fr;
        align-items: center;
        grid-template-areas: "datos_suc_ov datos_suc_tigre vacio13"
            "mapa_suc mapa_suc mapa_suc";
    }

}

@media (min-width: 900px) {
    .linea1_encabezado {
        max-width: 900px;
        margin: auto;
    }

    #contenedor_logo_nombre img {
        width: 300px;
        height: auto;
    }

    #lista_menues li {
        font-size: 1rem;
    }

    .imagen_central {
        height: 610px;
    }

    #contenedor_marcas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, fr);
        grid-template-areas: "logo_bahco logo_byd logo_bosch logo_dew"
            "vacio1 logo_makita logo_stanley vacio";
    }

    #contenedor_marca_makita {
        grid-area: logo_makita;
    }

    #contenedor_marca_stanley {
        grid-area: logo_stanley;
    }

    #seccion_suscripcion>div,
    #seccion_suscripcion>form {
        max-width: 900px;
        margin: auto;
    }

    #formulario_suscripcion {
        display: grid;
        grid-template-columns: 5% 70% 1fr;
        grid-template-areas: "vacio11 entrada_mail enviar"
            "vacio21 term_y_cond vacio22";
    }

    #btn_enviar_form_susc {
        grid-area: enviar;
        margin-left: 0px;
    }

    #contenedor_seccion_sucursales {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 3fr;
        align-items: center;
        grid-template-areas: "datos_suc_ov datos_suc_tigre vacio13 vacio14"
            "mapa_suc mapa_suc mapa_suc mapa_suc";
    }

    .tarjeta-proveedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        max-width: 750px;
        padding-left: 30px;
    }
    
    }


@media (min-width: 1200px) {
    #barra_navegacion {
        max-width: 1200px;
        margin: auto;
    }

    #lista_menues li {
        font-size: 1.125rem;
    }

    .imagen_central {
        height: 850px;
    }

    #contenedor_marcas {
        display: flex;
        max-width: 1400px;
        margin: auto;
    }

    #contenedor_seccion_sucursales {
        max-width: 1200px;
        margin: auto;
    }
    #productosBody,
    #EliminarBody{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
}
}