
.sticky-top{
    position: sticky;
    top: 0;
    height: 60px; 
    background-color: #bcc1ea;

}

 /* Pruductos --------------------------------------------- gabriel */

li{
    list-style-type: none;
   
}
main{
    margin-top: 50px;
}
section{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.contenedor-grid{
    display: grid;
    grid-template: auto  / 30% 70%;
}
.derecha {
    display: flex;
    flex-wrap: wrap;
    border: solid blue;
    gap: 20px; /* Espacio entre las tarjetas */
    
 }
.card-container {
    width: 25%;
    margin: 10px 0 10px 20px;
    
        
}
.card{
    align-items: center;
    text-align: center;
}
.card p, h4{
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow-y: auto;
   
  }
  
  
  .card img {
    max-width: 100%;
    height: auto;
    margin: 5px;
    padding: 15px 0 0 15px;
    border: 2px solid #ccc;
   
   
  }
  .agregar {
    margin-top: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    
  }
  img {
    width: 800px;
    height: auto;

}

#categoria{
    justify-content: center;
} 


.whatsapp{
   text-align: center;
    
}
/* valicacion form */
.form-cont{
    position: relative;
}

.form-cont input{
    font: inherit;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #fff;
    background-color: transparent;
    transition: outline-color 500ms;
}
.form-cont_input:is(:focus, :valid){
    outline-color: #3c50eb;
}
.form-cont_label{
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: #fff;
    transition: translate 500ms, scale 500ms;
}
.form-cont_input:focus +
.form-cont_label,
.form-cont_input:valid +
.form-cont_label{
    padding-inline: 5px;
    translate: 10px -14px;
    scale: 0.8;
    background-color: #000;
}



/* footer */
footer{
    background-color: rgb(173, 232, 212);
    text-align: center;
}

.footer > small {
    font-size: 16px;
    margin: 0 4px;
}
.footer-headline > h2 {
    margin: 0px;
    color: var(--text-primary);
}

.footer-headline > p {
    color: var(--text-gray);
    margin: 4px 0px 20px 0px;
}

.footer-line {
    display: block;
    min-width: 40px;
    height: 2px;
    background-color: var(--text-gray);
}


.social-links {
    flex-direction: column;
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-links img {
    margin-top: 10px;
    width: 35px;
    
    transition: all 0.2s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

.social-links ul {
    justify-content: center;
    display: flex;
    gap: 12px;
    list-style-type: none;
}

